@import "../utilidades/cores.css";

.catalogo-imagens {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.catalogo-imagens img {
  flex: 1;
  min-width: 200px;
}

.catalogo-imagens img:first-child {
  min-width: 100%;
}

.catalogo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.catalogo-conteudo > p {
  margin-bottom: 32px;
}

#catalogo .titulo p {
  text-transform: uppercase;
}

.catalogo-comprar {
  display: grid;
  grid-template-columns: max-content auto;
  gap: 8px 12px;
  margin-bottom: 40px;
  align-items: center;
  justify-items: start;
}

.catalogo-comprar span {
  display: flex;
  align-items: center;
}

.catalogo-comprar a {
  grid-row: span 2;
}

.catalogo-informacoes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  margin-bottom: 40px;
  background-color: var(--cor-12);
  padding: 32px;
  border-radius: 4px;
}

.catalogo-informacoes img {
  width: 24px;
  margin-bottom: 8px;
}

.catalogo-informacoes h3 {
  margin-bottom: 8px;
}

.catalogo-informacoes h2 {
  margin-bottom: 12px;
  letter-spacing: 0.015rem;
}

.catalogo-ficha {
  padding: 32px;
  background-color: var(--cor-12);
  border-radius: 4px;
}

.catalogo-ficha li {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--cor-11);
  padding: 4px 0;
}

.catalogo-ficha span {
  color: var(--cor-6);
}

@media (max-width: 800px) {
  .catalogo {
    grid-template-columns: 1fr;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .catalogo-imagens {
    grid-row: 2;
  }
}

@media (max-width: 500px) {
  .catalogo-comprar {
    grid-template-columns: 1fr;
  }
  .catalogo-informacoes {
    grid-template-columns: 1fr;
  }
}
